.numpad {
    display: grid;
    gap: 1px;
    width: 480px;
    height: 480px;
    grid-template-columns: repeat(4,1fr);
}

.span2 {
    grid-column: span 2;
}

#ipdisplay {
    height: 36px;
    background-color: aquamarine;
}

#input {
    height: 36px;
    background-color: antiquewhite;
}

#output {
    height: 36px;
    background-color: aqua;
}